.newSectionContainer {
  margin-bottom: 24px;
}

.sectionTitle {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 16px;
}

.addFieldTrigger {
  margin-top: 16px;
}

.errorsContainer {
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 6px;
  background: #fef2f2;
  color: #b91c1c;
}

.newSectionActions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.saveButton {
  background: #8726EE;
  border-color: #8726EE;
}

.cancelButton{
  width: 124px;
  height: 40px;
}

.headerRow {
  display: flex;
  align-items: center;
  padding: 12px 70px 0;
}

.headerLabel {
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
  width: 395px;
}

.headerDataType {
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
  min-width: 60px;
}
